<!-- Load development tool bar -->
{{if current.config.DEVELOPMENT:}}
    {{=DIV(
        BUTTON("x", _type="button", _class="close", **{"_data-dismiss": "alert"}),
        DIV(
            DIV(response.toolbar(), _class="span6"),
            DIV(
                DIV(
                    I(" ", _class="icon-exclamation-sign icon-white"), " ",
                    STRONG(T("Development mode 'On'")),
                    " ", I(" ", _class="icon-exclamation-sign icon-white"),
                _class="span6"),
            ),
        _class="row-fluid")
    ,_class="alert")}}
{{pass}}
