# -*- coding: utf-8 -*-

from gluon import current

# WARNNG: first rename this file in confdb.py,
# then adapt variable values here under to your needs

# WARNING: configuration file. DO NOT include in the branch "master"

# WARNING: If the application is for production set DEVELOPMENT to False
DEVELOPMENT = True or ('DEV' in request.vars)

# It let the modules interested know if the application is running in development mode
current.DEVELOPMENT = DEVELOPMENT
if DEVELOPMENT:
    from gluon.custom_import import track_changes; track_changes(True)

migrate = migrate_enabled = True
dbconf = dict(
    db = dict(
        args = ['sqlite://storage.sqlite'],
        vars = dict(migrate_enabled=migrate_enabled, migrate=migrate)
    ),
    #scheduler = dict(
    #    args = ['sqlite://scheduler.sqlite'],
    #    vars = dict(migrate_enabled=migrate_enabled, migrate=migrate)
    #),
    # other db definitions if needed.
    # Read following link for DAL object definition documentation:
    # http://web2py.com/books/default/chapter/29/06/the-database-abstraction-layer#Connection-strings
    # Simple sqlite example:
    #testdb = dict(
    #    args = ['sqlite://storage.sqlite'],
    #    vars = dict()
    #),
)
